

#formTitle {
    font-size: 3rem;
    font-family: 'Cinzel', serif;
    color: #CBE6AD;
    margin: auto;
}

#formDiv {
    display: flex;
    flex-direction: column;
   padding: 10px;
    color: #CBE6AD;
    width: 60vw;
    height: 90vh;
    margin: auto auto;
    font-size: 1.5rem;
    box-shadow: #CBE6AD 0px 0px 10px;
    position:fixed;
    top: 5%;
    left: 20%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #141220; 
    scrollbar-color: #141220 #CBE6AD; 
    -webkit-scrollbar-thumb-color: #CBE6AD; 
    -webkit-scrollbar-track-color: #141220; 
    -moz-scrollbar-thumb-color: #CBE6AD; 
    -moz-scrollbar-track-color: #141220; 
    scroll-behavior: smooth;
    z-index: 1000;
}

#formContainer{
    background-color: #141220bd;
    padding: 30px;
    width: 100%;
    height:100%;
    position:fixed;
    top: 0%;
    left: 0%;
    z-index: 999;
}
