/* @font-face {
    font-family: 'Cinzel';
    src: url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
  }
  
  .nav-container {
    display: flex;
    align-items: center;
    background-color: #141220;
  }
  
  .nav-container img {
    margin: 5px 5px;
   
  }
  
  #navTitle {
    margin: auto auto;
    font-size: 4rem;
    font-family: 'Cinzel', serif;
    color: #CBE6AD;
    text-shadow: 
    1px 0 0 #141220, 
    0 1px 0 #141220, 
    0 0 10px #141220, 
    -1px 0 0 #141220, 
    0 -1px 0 #141220;
  }

   */